<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Delivery</h2>
    <p>I am defaulting to yes when it comes to business demands, and committed to deliver on time. My cores values, especially for SaaS applications, are quality, reliability and improving our value stream.</p>
  </div>
  <div class="tech">
    <h2>Tech Stack</h2>   
    <p>Python, NodeJS, ReactJS, AWS, Kubernetes, Grafana, Azure, ArgoCD, Terraform, SQL</p>
  </div>
  <div class="tech">
    <h2>Leadership</h2>
    <p>I really love people and team building. I demand a lot but I always give back to my people's growth even more. It's important for me to keep good working relations with co-workers and becoming a recognized member of the local tech community</p>
  </div>
</div>
